body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1b1b32, #82b3d9);
    color: #f5f6f7;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
label {
  display: block;
  margin: auto ;
}
fieldset{
    width: 50%;
    margin: auto;
    padding: 2rem 0;
    border: 0;
    border: 3px solid black;
    font-size: 18px;
}
input, textarea{
    margin: 10px 0 0 0;
    width: 95%;
    min-height: 2em;
}
select{
    margin: 20px 0 0 0;
    width: 35%;
    min-height: 2em;
}
.inline{
    width: unset;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0.5em;
    vertical-align: middle;
}
